body {
  margin: 0;
  overflow-x: hidden;
  background-color: #c4c7c4;
  font-family: Arial, Helvetica, sans-serif;
}
.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  background-color: #798ed3;
  height: 50px;
  padding: 20px;
  width: 100%;
}
input {
  padding: 20px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  width: 300px;
  max-width: 350px;
  flex: auto;
}
button {
  padding: 15px;
  background-color: #798ed3;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
}
.photo-card {
  width: calc(25% - 20px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.3s;
  height: 80%;
}
.photo-card img {
  max-height: 300px;
  display: flex;
  justify-content: center;
}
.photo-card .info {
  padding: 5px;
  background-color: #fff;
  color: #333;
  font-size: 14px;
}
.photo-card .info-item {
  margin: 0;
  padding: 5px;
}
.photo-card .info-item b {
  font-weight: bold;
}
.load-more {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #798ed3;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-left: 45%;
}
.is-hidden {
  display: none;
}
